div .container {
    align-self: center;
}

div .row {
    display: flex;
    flex-wrap: nowrap;
}

div.column {
    border: 1px dashed gray;
    width: 20px;
    height: 20px;
}

div.column.changed {
    background-color: gray;
}